#CoffeClubForMobile{
    display: none;
}
@media screen and (max-width:580px) and (min-width:350px){
    #CoffeClubForMobile{
        display: block;
        width:100%;
        height:230px;
        background-color: rgb(11, 186, 124);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
    .flex{
        display: flex;
        gap:10px;
    }
}