#coffeclub{
    width:100%;
    height:120px;
    background-color: rgb(11, 186, 124);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

@media screen and (max-width:580px) and (min-width:350px){
    #coffeclub{
       display: none;
    }
}