#section{
    width:49%;
    height:197px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
     direction: rtl;
     background-size: contain;
     
}
@media screen and (max-width:580px) and (min-width:350px){
    #section {
        width: 100%;
        height:30vh;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
}