#thing{
    width:14%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:580px) and (min-width:350px){
    #thing{
        width:25%;
    }
    #y6{
        text-align: center;
    }
    img{
        height:auto;
    }
}